<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>Actualizar el usuario</h2>
      <label for="" class="form-label mt-2"> ID</label>
      <input
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="IUsuario.id"
      />
      <label for="" class="form-label mt-2"> Nombre</label>
      <input
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="IUsuario.nombre"
      />
      <label for="" class="form-label mt-2"> Apellido1</label>
      <input
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="IUsuario.apellido1"
      />
      <label for="" class="form-label mt-2"> Apellido2</label>
      <input
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="IUsuario.apellido2"
      />
      <label for="" class="form-label mt-2"> Email</label>
      <input
        type="text"
        class="form-control"
        readonly
        [(ngModel)]="IUsuario.email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto d-flex justify-content-between">
      <a class="btn btn-primary mt-3" href="/admin/usuario/plist"
        >Volver</a
      >
    </div>
  </div>
</div>
