<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <nav class="">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="page == maxPage">
            <span class="page-link" (click)="goNext()">Siguiente</span>
          </li>
          @for (boton of botonera; track $index) {
          <li class="page-item">
            @if (boton == '...') {
            <a class="page-link" class="page-link">{{ boton }}</a>
            } @else{
            <a
              class="page-link"
              [class.active]="page === -(-boton)"
              (click)="goToPage(-(-boton))"
              >{{ boton }}</a
            >
            }
          </li>
          }

          <li class="page-item" [class.disabled]="page == 1">
            <span class="page-link" (click)="goPrev()">Anterior</span>
          </li>
          <li class="page-item">
            <select
              class="form-select"
              (click)="getPage()"
              [(ngModel)]="sice"
              aria-label="Default select example"
            >
              <option selected [value]="10">
                Seleciona cuantas filas deseas
              </option>
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </li>
        </ul>
        <u class="d-flex justify-content-center pagination">
          <li class="page-item">
            <input
              class="form-control-sm"
              type="text"
              placeholder="Filtrar"
              (keyup)="filtrar()"
              [(ngModel)]="filter"
            />
          </li>
        </u>
      </nav>

      <table
        class="table table-responsive table-hover table-bordered table-striped mt-5 p-5"
      >
        <thead>
          <tr>
            <th class="text-center text-bg-dark pointer" (click)="reordenar('id')">ID</th>
            <th class="text-center text-bg-dark pointer" (click)="reordenar('nombre')">Nombre</th>
            <th class="text-center text-bg-dark pointer" (click)="reordenar('apellido1')">Primer Apellido</th>
            <th class="text-center text-bg-dark pointer" (click)="reordenar('apellido2')">Segundo Apellido</th>
            <th class="text-center text-bg-dark pointer" (click)="reordenar('email')">Correo</th>
            <th class="text-center text-bg-dark pointer" >Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (usuario of lUsuarios; track $index;) {
          <tr  class="pointer">
            <td (click)="goToView($event, usuario.id)">{{ usuario.id }}</td>
            <td (click)="goToView($event, usuario.id)">{{ usuario.nombre }}</td>
            <td (click)="goToView($event, usuario.id)">{{ usuario.apellido1 }}</td>
            <td (click)="goToView($event, usuario.id)">{{ usuario.apellido2 }}</td>
            <td (click)="goToView($event, usuario.id)">{{ usuario.email }}</td>
            <td class="text-center">
              <a class="btn btn-success" href="/admin/usuario/view/{{usuario.id}}" class="btn btn-success ">Ver</a>
              <a class="btn btn-primary" href="/admin/usuario/edit/{{usuario.id}}" class="btn btn-primary mx-2">Editar</a>
              <a class="btn btn-danger" href="/admin/usuario/remove/{{usuario.id}}">
                Eliminar
              </a>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6" class="text-center">No hay usuarios</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
